<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_management">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Professional Portfolio Management"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".myfiles"
            android:parentActivityName=".profile">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project_management.profile"/>

        </activity>
        <activity
            android:name=".myprojects"
            android:parentActivityName=".profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project_management.profile" />
        </activity>
        <activity
            android:name=".archived"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project_management.MainActivity" />
        </activity>
        <activity
            android:name=".ongoing"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project_management.MainActivity" />
        </activity>
        <activity
            android:name=".create"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project_management.MainActivity" />
        </activity>
        <activity
            android:name=".mycolleagues"
            android:parentActivityName=".profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project_management.profile" />
        </activity>
        <activity
            android:name=".otp"
            android:parentActivityName=".register" />
        <activity android:name=".notification" />
        <activity android:name=".profile" />
        <activity android:name=".search" />
        <activity
            android:name=".forgotpassword"
            android:parentActivityName=".login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.project_management.login" />
        </activity>
        <activity android:name=".register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
    </application>

</manifest>